body{
    background-image: url("../img/background/keith-misner-h0Vxgz5tyXA-unsplash.jpggit ");
    color: #4d0808;
}

h1{
text-align: center;
}

a {
color: darkslategrey;
}

p:first-child {
    text-indent: 1cm;
}

table , tr, td{
    border: 1px solid #aa7777;
    border-collapse: collapse;
}

td {
    padding: 0.5rem;
}

table {
    margin: auto;
}

.minikep {
    float: right;
    width: 400px;
    margin-left: 20px;
    border: 3px solid #4d0808;
}

.kepek{
    text-align: center;
}

.kep{
    width: 280px;
    vertical-align: middle;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid #4d0808;
    box-shadow: 3px 3px 10px #4d0808;
}
